# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
*.egg

# Entornos virtuales
.venv/
venv/
env/
.env

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Archivos temporales y del sistema
.DS_Store
Thumbs.db
desktop.ini
*.tmp
*.bak

# Artefactos generados
artifacts/
AGENTS.md
catboost_info/
